---
layout: default
---

<h1>{{ data.title }}</h1>

{{ content }}

<div class="flex gap-4 flex-wrap">
  {% if resource.next %}
    <a class="mr-auto" href="{{ resource.next.relative_url }}">Anterior: {{ resource.next.title }}</a>
  {% endif %}

  {% if resource.previous != nil %}
    <a class="ml-auto" href="{{ resource.previous.relative_url }}">Próximo: {{ resource.previous.title }}</a>
  {% endif %}
</div>
