<ol>
  {% for talk in event.talks %}
    <li class="list-roman">
      <h3 class="mt-3 mb-2">{{ talk.title }}</h3>
      {% if talk.speaker %}
        <div class="flex gap-4 items-center">
          {% if talk.speaker.picture %}
            {% assign speaker_picture = talk.speaker.picture %}
          {% else %}
            {% assign speaker_picture = '/images/default-avatar.webp' %}
          {% endif %}

          <img class="rounded-full" src="{{ speaker_picture | relative_url }}" alt="{{ talk.speaker.name }} picture" height=50 width=50 />
          <div>
            {% if talk.speaker.link %}
              <a class="font-bold" href="{{ talk.speaker.link }}" target="_blank">{{ talk.speaker.name }}</a>
            {% else %}
              <p class="font-bold">{{ talk.speaker.name }}</p>
            {% endif %}

            {% if talk.speaker.bio or talk.slides %}
              <p class="m-0 text-secondary">
                {{ talk.speaker.bio }}

                {% if talk.speaker.bio and talk.slides and event.date <= site.time %}
                  |
                {% endif %}

                {% if talk.slides and event.date <= site.time %}
                  <a href="{{ talk.slides }}" target="_blank">Slides</a>
                {% endif %}
              </p>
            {% endif %}
          </div>
        </div>

        {% if talk.embed_url %}
          <iframe class="block mt-2 mx-auto aspect-video" src="{{ talk.embed_url | escape }}"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        {% endif %}
      {% endif %}
    </li>
  {% endfor %}

  <li class="list-roman">
    <h3 class="mb-2">
      {% if event.coffee_break %}
        Coffee Break
      {% else %}
        Intervalo
      {% endif %}
    </h3>
  </li>
  <li class="list-roman">
    <h3 class="mb-2">Roda de conversa</h3>
  </li>
</ol>

{% if cfp_link %}
  <aside class="note">
    <p>Tem interesse em palestrar? <a class="font-bold" href="{{ cfp_link }}" target="_blank">Envie seu talk!</a></p>
  </aside>
{% endif %}
