<p>
  <span class="circle">
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
      <path
        d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM2.545 3h10.91c.3 0 .545.224.545.5v1c0 .276-.244.5-.546.5H2.545C2.245 5 2 4.776 2 4.5v-1c0-.276.244-.5.545-.5" />
    </svg>
  </span>
  {{ event.date | date: "%d/%m/%Y" }} às {{ event.date | date: "%-Hh%M" }}.
</p>

<p>
  <span class="circle">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
    </svg>
  </span>
  {% if event.location.link %}
    <a href="{{ event.location.link }}" target="_blank">{{ event.location.address }}.</a>
  {% else %}
    {{ event.location.address }}.
  {% endif %}
</p>

{% if event.date < site.time %}
  <p>
    <span class="circle">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
        <path
          d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
      </svg>
    </span>
    {{ event.attendees }} participantes.
  </p>
{% endif %}

<h2 id="agenda">Agenda</h2>

{% assign one_week_before_event = event.date | date: '%s' | minus: 604800 | date: '%Y-%m-%d' %}
{% assign today = 'now' | date: '%Y-%m-%d' %}

{% if site.metadata.cfp_link and today <= one_week_before_event %}
  {% assign cfp_link = site.metadata.cfp_link %}
{% else %}
  {% assign cfp_link = false %}
{% endif %}
{% render "talk_list", talks: event.talks, event_date: event.date, cfp_link: cfp_link, site: site %}

<h2 id="patrocinadores">Patrocinadores</h2>
<div class="sponsors">
  {% for sponsor in event.sponsors %}
    <a href="{{ sponsor.link }}" target="_blank">
      <img width=200 src="{{ sponsor.logo | relative_url }}" alt="{{ sponsor.name }} logo" />
    </a>
  {% endfor %}
</div>

{% if event.picture %}
  <br>
  <img class="rounded-2xl event-picture" src="{{ event.picture | relative_url }}" alt="Meetup attendees" />
{% endif %}
