<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% capture resource_title %}{{ title | strip_html | strip_newlines }}{% endcapture %}
<title>{% if resource_title != "Index" %}{{ resource_title | escape }} | {{ metadata.title | escape }}{% else %}{{ metadata.title | escape }}: {{ metadata.tagline | escape }}{% endif %}</title>

<meta name="description" content="{{ metadata.description }}" />
{% seo %}

<link rel="stylesheet" href="{% asset_path css %}" />
<link rel="icon" href="{{ "/favicon.ico" | relative_url }}" sizes="32x32">
<link rel="icon" href="{{ "/icon.svg" | relative_url }}" type="image/svg+xml">
<link rel="apple-touch-icon" href="{{ "/apple-touch-icon.png" | relative_url }}"><!-- 180×180 -->
<link rel="manifest" href="{{ "/manifest.webmanifest" | relative_url }}">
<script src="{% asset_path js %}" defer></script>
{% live_reload_dev_js %}
