<header>
  <a href="{{ '/' | relative_url }}">
    <img src="{{ '/images/logo-w-text2.svg' | relative_url }}" alt="Ruby DF logo" />
  </a>
</header>

<nav>
  <ul>
    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/events' | relative_url }}">Eventos</a></li>
    <li><a href="{{ '/about' | relative_url }}">Sobre nós</a></li>
  </ul>
</nav>
